@media screen and (max-width: 1440px) {
  .our-brand .brand-slide .slide-line1 {
    width: calc((238px + 20px) * 4 - 20px);
  }
  .our-brand .brand-slide .slide-line2 {
    width: calc((238px + 20px) * 4 - 20px);
  }
  .our-brand .brand-slide .slide-btn {
    width: 95%;
    left: calc(50% - 47.5%);
  }
}
@media screen and (max-width: 1300px) {
  .brand-content .service .cp-list .cp-list-wrapper {
    max-width: 1040px;
  }
  .brand-content
    .service
    .cp-list
    .cp-list-wrapper
    .card-list
    .card:nth-child(6)
    .holl {
    left: -1px;
  }
  .brand-content
    .service
    .cp-list
    .cp-list-wrapper
    .card-list
    .card:nth-child(6)
    .holl:after {
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
  }
  .brand-content
    .service
    .cp-list
    .cp-list-wrapper
    .card-list
    .card:nth-child(5)
    .holl {
    left: -2px;
  }
  .brand-content
    .service
    .cp-list
    .cp-list-wrapper
    .card-list
    .card:nth-child(5)
    .holl:after {
    border-bottom: 29px solid transparent;
    border-left: 29px solid #fff;
  }
}
@media screen and (max-width: 1280px) {
  #header .center nav {
    width: 85%;
  }
  .slide {
    height: 500px;
  }
  .slide .slide-box .slide-list li {
    height: 100%;
  }
  .slide .slide-box .slide-list li a img {
    height: 100%;
  }
  .font-service .service-product {
    max-width: 800px;
  }
  .font-service .service-product > div {
    width: calc(50% - 10px);
  }

  .banner .ba > div a img {
    width: 100%;
    height: auto;
    padding: 0 30px;
    margin-top: 15px;
  }
  .banner .ba > div:nth-child(3) a img {
    width: 85%;
  }
  .our-brand .brand-slide {
    overflow-x: scroll;
  }
  .our-brand .brand-slide::-webkit-scrollbar {
    display: none;
  }
  .our-brand .brand-slide .slide-line1 {
    width: auto;
    transform: translateX(100px);
    height: 238px;
    overflow: visible;
  }
  .our-brand .brand-slide .slide-line2 {
    width: auto;
    transform: translateX(100px);
    overflow: visible;
  }
  .our-brand .brand-slide .slide-btn {
    display: none;
  }

  .brand-content .service .service_category ul.tab-ul-active {
    border-left: 0;
    border-right: 0;
  }
}

@media screen and (max-width: 1045px) {
  .brand-content .service .cp-list .cp-list-wrapper {
    max-width: none;
    width: 90%;
  }
  .brand-content .service .cp-list .cp-list-wrapper .card-wrap {
    overflow-x: scroll;
  }
  .brand-content .service .cp-list .cp-list-wrapper .card-list {
    width: 3000px;
    flex-wrap: nowrap;
  }
  .brand-content .service .cp-list .cp-list-wrapper .card-list .card {
    width: 238px;
  }
}

@media screen and (max-width: 768px) {
  #mod-header {
    display: block;
  }
  #header {
    display: none;
  }
  /* .slide {
    height: 500px;
  }
  .slide .slide-box .slide-list li {
    height: 100%;
  }
  .slide .slide-box .slide-list li a img {
    height: 100%;
  } */
  .font-service .service-product {
    flex-direction: column;
  }
  .font-service .service-product > div .look {
    visibility: visible;
  }
  .font-service .service-product > div {
    width: 100%;
    border: none;
  }
  .font-service .service-product > div.brand-pd:hover {
    border: none;
  }
  .font-service .service-product > div.select-pd:hover {
    border: none;
  }
  .banner .ba {
    height: 450px;
  }

  footer .qlick-link ul li {
    width: 25%;
  }
  footer .qlick-link ul li > a p {
    text-align: center;
  }
  footer .qlick-link ul li:nth-child(5) {
    display: none;
  }
  footer .last-foot {
    flex-direction: column;
  }
  footer .last-foot .aside {
    text-align: center;
    border-left: none;
    /* border-top: 1px solid #ccc; */
  }
  footer .last-foot a i {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .slide {
    height: 380px;
  }
  footer .last-foot {
    padding: 50px 30px;
  }
  footer .last-foot .aside {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  p,
  a {
    font-size: 12px;
  }
  #header {
    display: none;
  }
  .slide {
    height: 280px;
  }
  .banner .ba {
    height: 400px;
  }
  .banner .ba > div a {
    padding: 26px 0;
  }
  .banner .ba > div a img {
    margin-top: 20px;
  }
  .slide .slide-box .progress-bar li {
    padding: 0 4px;
  }
  .slide .slide-box .progress-bar li a {
    width: 25px;
  }
  .font-service p {
    font-size: 12px;
  }
  .font-service > p {
    padding: 0 40px;
  }
  .font-service .service-product > div .text-box-pd {
    padding: 25px 40px 20px;
  }
  .font-service .service-product > div .text-box-pd h3 {
    font-size: 25px;
  }
  .font-service .service-product > div .text-box-pd p {
    font-size: 14px;
  }
  .font-service .service-product > div .look a {
    font-size: 18px;
  }
  .font-service h4 img {
    height: 30px;
  }
  .our-brand img {
    height: 30px;
  }
  .our-brand p {
    font-size: 12px;
    padding: 0 40px;
  }
  .our-brand .brand-slide {
    margin: 40px 0;
  }
  .our-brand .brand-slide .slide-line1 {
    height: 180px;
  }
  .our-brand .brand-slide .slide-line2 {
    height: 180px;
  }
  .our-brand .brand-slide .slide-line2 ul {
    justify-content: flex-start;
  }
  .our-brand .brand-slide .slide-line1 ul li a {
    width: 180px;
    height: 180px;
  }
  .our-brand .brand-slide .slide-line2 ul li a {
    width: 180px;
    height: 180px;
  }
  .brand-content .service-tab li {
    margin: 0 36px;
  }
  .brand-content .service-tab li a {
    font-size: 40px;
  }
  .brand-content .service .service_category ul li a {
    font-size: 12px;
    padding: 15px 0;
  }

  footer .last-foot {
    padding: 50px 20px;
  }
  footer .last-foot .aside {
    padding: 0;
  }
  footer .qlick-link ul li > a p {
    line-height: normal;
  }
  footer .last-foot .aside .horizontal-nav li a {
    font-size: 11px;
  }
  footer .last-foot .aside .copyright p {
    font-size: 11px;
  }
}
