h4 {
  margin-bottom: 20px;
}

.font-bold {
  font-weight: bold;
}

.wrapper {
  width: 100%;
  height: auto;
  _overflow: hidden;
}

.main-bold {
  font-weight: bold;
}

icon-img {
  background: url(/renewal/img/ico_common@2x.png) no-repeat;
  background-size: 300px 240px;
}

/*header style*/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  _height: 65px;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  transform: translateY(0px);
  transition: all 0.4s;
  z-index: 9999;
}
#header.sticky {
  transform: translateY(-66px);
  transition: all 0.3s ease-in-out;
}
#header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .center .logo {
  width: 5%;
  _height: 100%;
  _background: chartreuse;
  text-align: center;
  font-size: 35px;
  padding: 20px 0;
  color: #6c93f9;
}
#header .center nav {
  width: 45%;
  height: 100%;
  _background: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .center nav .nav-tabs {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .center nav .nav-tabs li {
  width: 20%;
  height: 100%;
  height: auto;
  text-align: center;
}
#header .center nav .nav-tabs li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 21px 0;
  color: #777;
  transition: all 0.4s;
}
#header .center nav .nav-tabs li > a:hover {
  background: rgba(210, 210, 210, 0.3);
}
#header .center nav .nav-icon {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .center nav .nav-icon li {
  width: 33.33%;
  height: 100%;
  height: auto;
  text-align: center;
}
#header .center nav .nav-icon li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  font-size: 25px;
  transition: all 0.4s;
}
#header .center nav .nav-icon li > a:hover {
  background: rgba(210, 210, 210, 0.3);
}

/*slide section style*/
.slide {
  width: 100%;
  height: 600px;
  _border: 1px solid #000;
  margin: auto;
}
.slide .slide-box {
  height: 100%;
  _background: url(/renewal/img/slide/port_banner.jpeg) no-repeat center center;
  overflow: hidden;
  margin: auto;
  width: 100%;
  position: relative;
}
.slide .slide-box .slide-list {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  top: 0;
  transform: translateX(0px);
  transition: all 1s;
}
.slide .slide-box .slide-list li {
  _width: 1920px;
}
.slide .slide-box .slide-list li img {
  width: 100%;
  _height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slide .slide-box .slide-list li:nth-child(7) img {
  transform: translateY(-65px);
}
.slide .slide-box .progress-bar {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide .slide-box .progress-bar li {
  padding: 0 8px;
}
.slide .slide-box .progress-bar li a {
  display: block;
  width: 40px;
  height: 4px;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.slide .slide-box .progress-bar li a:hover {
  background: #fff;
  border: none;
}
.slide .slide-box .progress-bar li a span {
  width: 0%;
  height: 100%;
  border-radius: 3px;
  display: block;
  background: white;
}

.gegeBar {
  -webkit-animation: Bar 5s;
          animation: Bar 5s;
}

.gagaBar {
  background: transparent;
  border: transparent;
}

@-webkit-keyframes Bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes Bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*font-service section style*/
.font-service {
  width: 100%;
  height: auto;
  _border: 1px solid #000;
  text-align: center;
  padding: 70px 0;
}
.font-service h4 {
  margin-bottom: 20px;
}
.font-service h4 img {
  display: block;
  margin: auto;
  height: 60px;
}
.font-service .service-product {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.font-service .service-product > div {
  width: calc(50% - 30px);
  _margin: 30px 15px 0;
  border: 5px solid #fff;
  border-collapse: collapse;
}
.font-service .service-product > div.brand-pd {
  background: #6c93f9;
}
.font-service .service-product > div.brand-pd:hover {
  border: 5px solid #6c93f9;
}
.font-service .service-product > div.brand-pd:hover .look {
  visibility: visible;
}
.font-service .service-product > div.select-pd {
  background: #fdbb60;
}
.font-service .service-product > div.select-pd:hover {
  border: 5px solid #fdbb60;
}
.font-service .service-product > div.select-pd:hover .look {
  visibility: visible;
}
.font-service .service-product > div img {
  width: 100%;
}
.font-service .service-product > div .text-box-pd {
  padding: 25px 40px;
  text-align: start;
  color: #fff;
}
.font-service .service-product > div .text-box-pd h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
.font-service .service-product > div .text-box-pd p {
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
}
.font-service .service-product > div .look {
  display: block;
  visibility: hidden;
}
.font-service .service-product > div .look a {
  padding: 0px 40px 25px 40px;
  text-align: start;
  display: block;
  color: #fff;
  font-size: 20px;
}

/*banner section style*/
.banner {
  width: 100%;
  height: auto;
  _border: 1px solid #000;
  text-align: center;
}
.banner .ba {
  height: 570px;
}
.banner .ba > div {
  height: 33.34%;
  color: #fff;
}
.banner .ba > div.nemoni2 {
  background: url(/renewal/img/sub_bnr1_bg.jpeg) no-repeat center center;
  background-size: cover;
}
.banner .ba > div.helvetica-now {
  background: url(/renewal/img/sub_bnr2_bg.png) no-repeat center center;
  background-size: cover;
}
.banner .ba > div.helvetica-now img {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.banner .ba > div.TSC-blackDA {
  background: url(/renewal/img/sub_bnr3_bg.jpeg) no-repeat center center;
  background-size: cover;
}
.banner .ba > div.TSC-blackDA img {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.banner .ba > div a {
  display: block;
  padding: 40px 0;
}
.banner .ba > div a img {
  display: block;
  margin: auto;
  height: 60px;
  margin-top: 30px;
}
.banner .ba > div a p {
  color: #fff;
}
.banner .more-tab {
  _height: 60px;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}
.banner .more-tab a {
  display: block;
  padding: 23px 0px;
  color: #5f5f5f;
  transition: all 0.4s;
}
.banner .more-tab a span {
  _content: "";
  display: block;
  position: absolute;
  padding-top: 0px;
  top: 0;
  left: 50%;
  margin-left: -16px;
  width: 33px;
  height: 10px;
  _padding: 0 5px;
  background: url(/renewal/img/main_arr.png) no-repeat;
  background-size: 33px 10px;
  opacity: 0;
}
.banner .more-tab a:hover span, .banner .more-tab a:focus span {
  opacity: 1;
  margin-top: 22px;
  -webkit-animation: slideInDown 1s ease-in-out 0s infinite;
          animation: slideInDown 1s ease-in-out 0s infinite;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.banner .more-tab:hover {
  background-color: #021e48;
}
.banner .more-tab:hover a {
  padding: 40px 0 20px;
  color: #cbcbcb;
}

/*our-brandsection style*/
.our-brand {
  width: 100%;
  height: auto;
  _border: 1px solid #000;
  text-align: center;
  padding: 60px 0;
}
.our-brand img {
  display: block;
  margin: auto;
  height: 60px;
}
.our-brand .brand-slide {
  height: auto;
  background: #ccc;
  padding: 20px 0;
  margin: 60px 0;
  position: relative;
}
.our-brand .brand-slide .slide-line1 {
  height: 240px;
  width: calc((238px + 20px) * 5 - 20px);
  background: #aaa;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
.our-brand .brand-slide .slide-line1 ul {
  position: absolute;
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0px);
  transition: all 0.4s;
}
.our-brand .brand-slide .slide-line1 ul li {
  background: chartreuse;
  margin-right: 20px;
}
.our-brand .brand-slide .slide-line1 ul li a {
  display: block;
  width: 238px;
  height: 238px;
}
.our-brand .brand-slide .slide-line2 {
  height: 240px;
  width: calc((238px + 20px) * 5 - 20px);
  background: #aaa;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.our-brand .brand-slide .slide-line2 ul {
  position: absolute;
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0px);
  transition: all 0.4s;
}
.our-brand .brand-slide .slide-line2 ul li {
  background: chartreuse;
  margin-right: 20px;
}
.our-brand .brand-slide .slide-line2 ul li a {
  display: block;
  width: 238px;
  height: 238px;
}
.our-brand .brand-slide .slide-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  top: calc(50% - 35px);
  left: calc(50% - 40%);
}
.our-brand .brand-slide .slide-btn > button {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #000;
}
.our-brand p > a {
  color: #173e5d;
  font-size: 20px;
}

/*footer style*/
footer {
  width: 100%;
  height: auto;
}
footer .qlick-link {
  background: #242424;
}
footer .qlick-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}
footer .qlick-link ul li {
  width: 20%;
}
footer .qlick-link ul li > a {
  width: 100%;
  height: 100%;
  padding: 20px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}
footer .qlick-link ul li > a:hover {
  background: #1e1e1e;
  opacity: 1;
}
footer .qlick-link ul li > a i {
  font-size: 40px;
  padding: 10px;
}
footer .qlick-link ul li > a p {
  padding: 10px 0;
}
footer .last-foot {
  height: auto;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #fff;
}
footer .last-foot a i {
  font-size: 60px;
  padding: 40px;
  color: #fff;
}
footer .last-foot .aside {
  border-left: 1px solid #ccc;
  padding: 0 40px;
  _margin-left: 10px;
}
footer .last-foot .aside .horizontal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .last-foot .aside .horizontal-nav li {
  height: auto;
  text-align: center;
}
footer .last-foot .aside .horizontal-nav li a {
  display: block;
  color: #fff;
  padding: 0 10px;
}
footer .last-foot .aside .copyright {
  line-height: 2;
  padding-top: 10px;
}